.about-us-list {
  display: flex;
}

.about-us {
  margin-bottom: 94px;
}
.about-us-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.about-us-thumb:not(:last-child) {
  margin-right: 30px;
}
.about-us-thumb {
  position: relative;
  width: 370px;
  height: 294px;
}
.about-us-box {
  display: block;
  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}
.about-us-text {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 27px 82px;
  color: #ffffff;
}
