.container-header {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
  display: flex;
}
header {
  border-bottom: 1px solid#ececec;

  background-color: var(--heroandadress-text-color);
}
.header {
  min-width: 320px;
  margin: 0 auto;
  align-items: center;
}
.header.adap {
  max-width: 480px;
}

.logo {
  color: var(--dedicated-text-color);
}
.logo-a-list-link {
  position: relative;
  display: inline-block;
  &:hover,
  &:focus {
    color: var(--dedicated-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 40px;
  }
}
.logo-a {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-right: 93px;
  &:hover,
  &:focus {
    color: var(--dedicated-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media (max-windth: 480px) {
  body {
    font-size: 18;
    line-height: 1.16;
    background-color: yellowgreen;
  }
}
.logo-a-list {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  background-color: var(--heroandadress-text-color);
}
.header-contact-tel {
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--dedicated-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover &-svg,
  &:focus &-svg {
    fill: var(--dedicated-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header-contact {
  margin-left: auto;
}
.header-contact-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.adress-mail {
  margin-right: 50px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: var(--dedicated-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover .header-contact-svg,
  &:focus .header-contact-svg {
    fill: var(--dedicated-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header-contact-svg {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
}
.header-contact-tel-svg {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu {
  display: none;
}
.menu.is-open {
  display: block;
  text-align: center;
}
.logo-a-list-item:not(:last-child) {
  margin-bottom: 40px;
}
.logo-a-list-item:first-child {
  padding-top: 60px;
}
.logo-a-list-item:last-child {
  margin-bottom: 60px;
}
