.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
  display: block;
}
.container-foot {
  width: 1185px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
  display: block;
}
.container-footer {
  width: 100px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
  display: block;
}
